<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>3D BOUNDING BOX APPROXIMATION</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" href="./static/css/cards-gallery.css">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Home</a>
      </div>
    </div>
  </nav>

   <section class="gallery-block cards-gallery">
     <div class="jumbotron" align="center">
       <h1>3D BOUNDING BOX APPROXIMATION</h1>
       <h2>USING DEEP LEARNING AND GEOMETRIC CONSTRAINTS</h2>
       <p>
         The goal of this project is 3D object detection and pose estimation from a single image.
         Comparing current techniques on 3D object detection that only regressese the 3D orientation of objects,
         our method for this project first regresses relatively stable 3D object properties using a deep convolutional
         neural network and combines the predicted properties with imposed geometric constraints provided by the
         corresponding 2D bounding box to produce the complete 3D bounding box.
       </p>
    </div>

	    <div class="container">
	        <div class="heading">
	          <h2>Inference on KITTI-3D Validation Set Images</h2>
	        </div>

            <div align="center">
              <a href="./" class="btn btn-info" role="button">Shuffle</a>
              <br/>
              <br/>
            </div>

						{% for image_url in value %}
							<div class="col-md-4 col-lg-12">
									<div class="card border-0 transform-on-hover">
										<a class="lightbox" href={{image_url}}>
											<img src={{image_url}} alt="Card Image" class="card-img-top">
										</a>
											<div class="card-body">
													<form action="/predict" method="post" id="upload-file" class="container">
														<input type="hidden" name={{image_url}}>
														<input class="btn btn-primary" type="submit" value="Predict 3D BBOX">
													</form>
											</div>
									</div>
							</div>
						{% endfor %}
	    </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
    </script>
</body>
</html>
